body {
    background-color: rgb(205, 235, 255);
    color: rgb(66, 86, 197);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.ls h2 {
    color: blueviolet;
    font-style: italic;
}

/* Box Model */
.ls {
    background-color: coral;
    padding: 15px;
    border: 7px solid brown;
    margin: 20px;
    border-bottom-style: playing;
}

table {
    width: 500px;
}