html {
    scroll-behavior: smooth;
    background: #E5E5E5;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

body, h1, h2 {
    margin: 0px;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* --------------------👇👇👇 HEADER STYLES 👇👇👇--------------------------------------- */
.header {
    position: relative;
    min-height: 90px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.logo-container {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;

}

.nav {
    margin-right: 30px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 42px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.nav-link {
    color: #FFFFFF;
}

.login-button {
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.login-text {
    width: 43px;
    height: 21px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;

}
/* --------------------👆👆👆 HEADER STYLES 👆👆👆--------------------------------------- */


/* --------------------👇👇👇 MAIN STYLES 👇👇👇--------------------------------------- */
#how-it-works {
    background: url('./assets/img/header-bg.jpg');
    height: 675px;
    margin-top: -90px;
    padding-top: 90px;
}

#plan-your-trip {
    background: #fff;
    padding: 80px 130px 0px 130px;
}

.recommendations {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 35px;
}

.search {
    width: 830px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 44px;
    padding-right: 18px;
    margin-top: 45px;
}

.question {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.start-button {
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-size: 24px;
    color: #FFFFFF;
}

.explore-wrapper {
    padding-top: 30px;
    padding-left: 120px;
}

.explore-text-wrapper {
    color: #FFFFFF;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
}

.steps-text {
    text-align: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.steps-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.icon {
    width: 100px;
    height: 100px;
    background: #F2785C;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.icon-text {
    margin-top: 30px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.destinations-wrapper {
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.destination-text {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    padding-top: 97px;
    padding-bottom: 46px;
}

.slider {
    display: flex;
    gap: 60px;
}

.picture {
    width: 800px;
    height: 800px;
    display: flex;
    align-items: flex-end;
    border-radius: 16px;
}

.picture-spain {
    background-image: url("./assets/img/spain.jpg");
}

.picture-japan {
    background-image: url("./assets/img/japan.jpg");
}

.picture-usa {
    background-image: url("./assets/img/usa.jpg");
}

.text-picture {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    margin-left: 15px;
    margin-bottom: 40px;
}

.picture img {
    border-radius: 16px;
}

.dots-slider {
    margin-top: 24px;
    display: flex;
}

.dot {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.dot-faded {
    background: rgba(242, 120, 92, 0.5);
}

.dot-saturated {
    background: #F2785C;
    margin-left: 10px;
    margin-right: 10px;
}

.find-button {
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 40px;
}

.arrow {
    padding-right: 10px;
}

.stories-wrapper {
    background: #fff;
}

.message-stories-wrapper {
    background: url(./assets/img/italy.jpg);
    background-size: cover;
    height: 1270px;
    margin-top: 40px;
    margin-bottom: -61px;
    padding-bottom: 61px;
}

.veil {
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding-top: 40px;
    padding-bottom: 41px;
}

.stories-title {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    padding-top: 80px;
    text-align: center;
}

.stories-container {
    display: flex;
    padding-left: 120px;
    padding-right: 125px;
    gap: 40px;

}

.photo-story {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.text-story {
    font-family: 'Aleo';
    font-style: normal;
    color: #0D606F;
}

.message-title {
    font-size: 35px;
    line-height: 42px;
    margin: 0 0 25px 0;
    font-weight: 400;
}

.message-story {
    font-weight: 400;
    font-size: 20px;
}

.read-more {
    font-weight: 700;
}

.read-more a {
    text-decoration: underline;
    color: #0D606F;
}

.see-button::before{
    content: url('./assets/svg/arrow.svg');
    position: relative;
    left: -12px;
    top: 3px;
}

.see-button {
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 10px;
    padding-top: 2px;
    padding-left: 15px;
}
/* --------------------👆👆👆 MAIN STYLES 👆👆👆--------------------------------------- */


/* --------------------👇👇👇 FOOTER STYLES 👇👇👇--------------------------------------- */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 61px;
}

.custom-logo {
    margin-left: 95px;
    display: flex;
    gap: 10px;
}

.my-github:hover {
    opacity: 0;
    transition: opacity 2s;
    filter: invert(22%) sepia(97%) saturate(5618%) hue-rotate(240deg) brightness(87%) contrast(111%);
}

.rs-git-logo {
    height: 40px;
}

.copyright {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.social {
    margin-right: 120px;
    margin-top: 5px;
    display: flex;
    gap: 22px;
}

.social:hover {
    transition: filter 2s;
    filter: invert(22%) sepia(97%) saturate(5618%) hue-rotate(240deg) brightness(87%) contrast(111%);
}
/* --------------------👆👆👆 FOOTER STYLES 👆👆👆--------------------------------------- */
